body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.big-button {
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4vh;
  color: orangered;
  box-shadow: 0 5px 5px rgba(50, 50, 93, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 350ms;
  transition: transform 350ms;
  cursor: pointer;
}
.big-button:hover {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.5), 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
.big-button:active {
  box-shadow: 0 5px 5px rgba(50, 50, 93, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.big-button .big-button__title {
  font-size: 7vh;
  text-align: center;
  transition: transform 350ms;
  user-select: none;
}
.big-button:hover .big-button__title {
  transform: translateY(-10px);
}
.big-button .big-button__icon {
  color: orangered;
  font-size: 15vh;
}
